::-webkit-scrollbar
{
  width: 6px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track
{
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
		/* Firefox 4 */
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
		/* Opera */;
}

::-webkit-scrollbar-thumb:hover
{
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
		/* Firefox 4 */
  -webkit-transition: all 0.4s ease;
		/* Safari Ã¥ÂÂ Chrome */
  -o-transition: all 0.4s ease;
		/* Opera */;
}